+++
title = "Truffle"
linkTitle = "Truffle"
+++

{{< blocks/cover title="SWEET TOOLS FOR SMART CONTRACTS" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Truffle Suite使开发人员从构思到dapp尽可能舒适。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
新: 与松露团队一起更快地迭代！加强部署，操作和调试之间的反馈循环。
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="TRUFFLE TEAMS" url="/docs/teams/" %}}
更快地：加强部署，操作和调试之间的反馈循环; 所有这些都在功能强大的开发沙箱中。与整个团队分享见解.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="TRUFFLE" url="/docs/truffle/" %}}
智能合约制造的毛衣：
使用以太坊虚拟机（EVM）的世界一流的开发环境，用于区块链的测试框架和资产管道，旨在简化开发人员的生活。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Ganache" url="/docs/ganache/" %}}
一键式区块链
一个用于以太坊开发的个人区块链，可用于部署合同，开发应用程序和运行测试。 
它既可以用作桌面应用程序，也可以用作命令行工具（以前称为TestRPC）。 
Ganache可用于Windows，Mac和Linux。
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="drizzle" url="/docs/drizzle/" %}}
前端的新链数据
一组前端库，这些库使编写dapp前端更加容易且更具可预测性。 
Drizzle的核心基于Redux商店，因此您可以使用Redux周围壮观的开发工具。 
我们负责同步您的合同数据，交易数据等。
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
	<h1 class="text-center">实例探究</h1>
	<div class="row align-items-center justify-content-center text-center mb-2">
	<div class="col-8 col-sm-6 col-md-3 mt-5 mt-sm-3 mb-4 mb-sm-3">
	  <a href="/case-studies/case-study-dish-network">
		<img
		  class="img-fluid"
		  src="/img/case-studies/case-study-dish-network/dish-logo.svg"
		  alt="DISH Network"
		/>
	  </a>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
	  <a href="/case-studies/case-study-microsoft-xbox">
		<img
		  class="img-fluid"
		  src="/img/case-studies/case-study-microsoft-xbox/xbox-logo.svg"
		  alt="Microsoft Xbox"
		/>
	  </a>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
	  <a href="/case-studies/case-study-starbucks">
		<img
		  class="img-fluid pl-5 pr-5"
		  src="/img/case-studies/case-study-starbucks/starbucks-logo.svg"
		  alt="Starbucks"
		/>
	  </a>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
	  <a href="/case-studies/case-study-microsoft-and-the-world-bank">
		<img
		  class="img-fluid"
		  src="/img/case-studies/case-study-microsoft-and-the-world-bank/msft-wb-logo.svg"
		  alt="Microsoft & The World Bank"
		/>
	  </a>
	</div>
</div>

{{< /blocks/section >}}


<!--
{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/truffle-example" %}}
We do a [Pull Request](https://github.com/google/truffle-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
-->
{{< blocks/section >}}

<div class="col-12">
  	<h1 class="text-center">真棒公司使用松饼</h1>

	<div class="row align-items-center justify-content-center text-center mb-2">
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid"
		src="/img/home/art02-consensys.svg"
		alt="ConsenSys"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid"
		src="/img/home/consensys-diligence-logo.svg"
		alt="ConsenSys Diligence"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-5 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid"
		src="/img/home/art01-microsoft.svg"
		alt="Microsoft"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img class="img-fluid" src="/img/home/art03-ey.svg" alt="Ernst & Young" />
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img class="img-fluid" src="/img/home/art04-airbus.svg" alt="Airbus" />
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid"
		src="/img/home/art05-gd.svg"
		alt="General Dynamics"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img class="img-fluid" src="/img/home/art06-amazon.svg" alt="Amazon" />
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid"
		src="/img/home/art07-jpmorgan.svg"
		alt="J.P.Morgan"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid pl-4 pr-4"
		src="/img/home/art08-vmware.svg"
		alt="VMWare"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid"
		src="/img/home/art09-shapeshift.svg"
		alt="ShapeShift"
		/>
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img class="img-fluid" src="/img/home/art10-colony.svg" alt="Colony" />
	</div>
	<div class="col-8 col-sm-6 col-md-3 mt-4 mt-sm-3 mb-4 mb-sm-3">
		<img
		class="img-fluid pl-4 pr-4"
		src="/img/home/art11-amberdata.svg"
		alt="Amberdata"
		/>
	</div>
	</div>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col">
	<div class="row align-items-center home-github-row">
		<div class="col-md">
		  <h1>贡献给松饼套房</h1>
	
		  <p>
			我们需要你的帮助！您可以通过多种方式帮助Truffle项目。您可以通过以下几种方式做出贡献：
		  </p>
	
		  <ol>
			<li>
			  Open issues on our
			  <a href="https://github.com/trufflesuite">GitHub page</a>.
			</li>
			<li>
			  将请求提交到GitHub项目-但请先打开一个问题以讨论该功能！
			</li>
			<li>
			  测试Truffle的Beta版，以帮助我们确定问题和解决bug。
			</li>
			<li>
			  参与我们的社区<a href="http://gitter.im/ConsenSys/truffle">Gitter频道</a>，以帮助其他用户。
			</li>
		  </ol>
		</div>
	
		<div class="col-md">
		  <img
			src="img/github-logo-gradient.svg"
			alt="GitHub Logo"
			title="GitHub Logo"
		  />
		</div>
	  </div>
</div>
{{< /blocks/section >}}